langgraph
langchain
langchain-core
langchain-google-genai
google-generativeai

python-dotenv
pydantic
typing-extensions

chromadb
sentence-transformers
torchvision
tavily-python

langsmith

rich
ipython

streamlit

tiktoken